
services:
  nginx:
    restart: always
    build:  requirements/nginx
    container_name: my_nginx
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
  
  wordpress:
    restart: always
    build: requirements/wordpress
    container_name: wordpress
    volumes:
      - wp_data:/var/www/html
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_HOST: mariadb
    depends_on:
      - mariadb
    networks:
      - inception


  mariadb:
    restart: always
    build: requirements/mariadb
    container_name: mariadb
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - inception

networks:
  inception:
    driver: bridge

volumes:
  wp_data:
  db_data:

# volumes:
#     driver: local